.navigation {
  height: var(--navigation--height, 60px);
  color: var(--navigation--color, var(--color-berlin, #fff));
  font-family: var(--navigation--font-family, var(--fontfamily-sans, sans-serif));
  font-size: var(--navigation--font-size, 1rem);
  background: var(--navigation--background, var(--color-beijing, #222));
}

.navigation--sticky {
  position: sticky;
  top: 0;
}

.navigation__wrapper {
  display: flex;
  max-width: var(--navigation__wrapper--max-width, var(--page-max-width, 960px));
  height: var(--navigation--height, 60px);
  margin: 0 auto;
}

.navigation__logo {
  order: 1;
}

.navigation__menu {
  flex: 2;
  order: 2;
}

.navigation__extra {
  flex: 1;
  order: 3;
}
