.navigation__sub-branding {
  overflow: hidden;
  width: auto;
  max-width: 64px;
  height: 64px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: initial;
}

.navigation__sub-branding-link {
  display: block;
  line-height: 0;
}

.navigation--sub-branding .navigation__primary-expander {
  display: none;
}

.navigation--sub-branding .navigation__main-navigation-link,
.navigation--sub-branding .navigation__main-navigation-link-button {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navigation--sub-branding .navigation__user-menu-link,
.navigation--sub-branding .navigation__main-navigation-link--search {
  padding-left: 2rem;
}

@media (--navigation-tablet-up) {
  .navigation__sub-branding {
    max-width: 192px;
  }
}
